<h1>Все товары</h1>

<div class="items-wrapper">
    {{#if courses.length}}
    {{#each courses}}
    <div>
        <div >
            <div class="card">
                <div class="card-image">
                    <img class="item-image" src="{{img}}" alt={{title}}>
                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action actions">
                    <a href="/courses/{{id}}" target="_blank">Открыть</a>

                    {{#if @root.isAuth}}
                    {{#ifeq userId._id @root.userId}}
                    <a href="/courses/{{id}}/edit?allow=true" class="btn btn-primary">Редактировать</a>
                    {{else}}
                    <form action="/cart/add" method="POST">
                        <input name="_csrf" type="hidden" value="{{@root.csrf}}">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-primary">Купить</button>
                        </form>
                    {{/ifeq}}
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>Товаров пока нет</p>
    {{/if}}

</div>