<h1>Моя страница</h1>

<div class="row">
    <div class="col l6 m6 s12">
        {{#if user.avatarUrl}}
        <img class="avatar"
            src="/{{user.avatarUrl}}"
            alt="аватар-{{user.name}}">
        {{else}}
        <img class="avatar"
            src="images/default_avatar.jpg"
            alt="аватар">
        
        {{/if}}

    </div>

    <div class="col l6 m6 s12">
        <form action="/profile" method="POST" enctype="multipart/form-data">

            
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
                <label for="name">Имя</label>
                <span class="helper-text" data-error="Имя не может быть пустым"></span>
                <span>e-mail: <strong>{{user.email}}</strong></span>
            </div>

            <br/>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Сменить аватар</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

           

            <input name="_csrf" type="hidden" value="{{csrf}}">

            <button type="submit" class="btn">Изменить</button>

        </form>




    </div>

</div>